body {
    background-color: lightpink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#natuur {

    position: relative;

    background-repeat: no-repeat;
    background-size: 155vh;
    background-position: right;


    width: 830px ;
    height: 600px ;
    border: 10px solid hotpink;
    margin: 0 auto;
    transition: all 1s ;  

}

main.zonnetjeSchijnt {
    background-color: white;
    background-image: url("../achtergrond/achtergrond-zon.png");
}

main.hetSneeuwt {
    background-color: lightblue;
    background-image: url("../achtergrond/achtergrond-sneeuw.png");
}

main.hetRegent {
    background-color: grey;
    background-image: url("../achtergrond/achtergrond-regen.png");
}

h1 {
    color: hotpink;
    margin-top: 10px; margin-left: 10px; margin-bottom: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 400;
    background-color: white;
    width: 114px;
    padding: 3px;
}

#ikBen {
    margin-top: 10px; 
    padding: 3px;
    font-size: 18px;
    background-color: white;
    width: max-content;
}

p {
    margin-left: 10px;
}

button {
    background-color: pink;
    border-color: hotpink;
    border-radius: 2px;
    border-style:solid;
}


#zonnig {
    background-color: yellowgreen;
    border-color: forestgreen;
}

#stortbui {
    background-color: lightskyblue;
    border-color: teal;
}

#koud {
    background-color: whitesmoke;
    border-color: lightskyblue;
}

button:hover, #zonnig:hover, #stortbui:hover, #koud:hover {
    background-color: lightsteelblue;
    border-color: darkgrey;
}

img.deKikker {
    position: absolute;
    margin-top: 100px; 
    margin-left: 325px;
    width: 20%;
    height: 30%;
}


#deVlieg {
    position: absolute;

    margin-left: 650px;
    width: 10%;
    height: 15%;
}


button {
    height: 5vh;
    font-size: 15px;
}

img {
    align-content: center;
    height: 50vh;
}

input {
    font-size: 15px;
    background-color: white;
    margin-left: 10px;
    border-style: dashed;
    border-color: pink;
}

footer {
    margin-left: 80px;
    color: white;
    font-size: 10px;
}


#popUp, #geheimBerichtje {
    margin: 10px;
    color: hotpink;
    background-color: ghostwhite;
    border-color: pink;
}

#popUp:hover, #geheimBerichtje:hover {
    color: white;
    background-color: hotpink;
    border-color: white;
}